/* Use Selectors and attributes for the HTML design */
body{
       text-align: center;
       border-left: 6px solid black;
       height: 800px;
       position: absolute;
       left: 30%;
       }
h1{
       text-align: left;
       text-decoration: overline;
       font-size: 50px;
       font-weight: bolder;
       margin-left: 25px;

}
p{
       font-size: 20px;
       margin-left: 25px;
       
}
legend{
       margin-left: 25px;
       text-align: left;
       border-top: 3px solid black;
}
.title {
       text-align: left;
       font-size: larger;
       margin-left: 25px;       
}
.telephone{
       text-align: left;
       font-size: larger;
       margin-left: 25px;
}
.company{
       text-align: left;
       font-size: larger;
       margin-left: 25px;
}
.button [type=save]{
       text-align: right;
       background-color: red;
       font-size: small;
       right: 40%;
}
